//variable for scss 

//variable for background color
$body-bg: rgb(244, 246, 249);
// $body-bg: rgb(16, 17, 17);

//variable for font color
$primary-font-color: rgb(0, 101, 168);
//variable for font style
$primary-font: "Nunito", sans-serif;

//   font-family: "Nunito", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;


$primary-nav: rgb(35, 182, 25);


@import '../../node_modules/bootstrap/scss/bootstrap.scss';



//nav

.navbar-main {

    // background-color: red;
    padding-left: 269px;
    padding-right: 269px;

    @media (max-width: 1000px) {
        padding-left: 40px;
        padding-right: 40px;
    }
}




ul.navbar-nav {
    margin-right: -16px;
}

.navbar-collapse {
    font-family: $primary-font;
    font-optical-sizing: auto;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: 600;


}

li.nav-item {
    margin: 0px 8px 0px 8px;
}

.logo-nav {
    font-family: $primary-font;
    color: $primary-font-color;

}

.nav-link {
    display: inline;
    color: $primary-font-color;
}

.navbar-nav .nav-link.active {
    font-family: $primary-font;
    color: $primary-font-color;
}

.email-icon-nav i {
    margin: 0px 4px 0px 4px;
    color: $primary-font-color;
    font-size: 20px;
}

.phone-icon-nav i {
    margin: 0px 4px 0px 4px;
    color: $primary-font-color;
    font-size: 20px;
}




//section

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    //color: rgb(51, 152, 51);

}



//home section
.section {
    color: $primary-font-color;
    font-family: $primary-font;
}

#home {
    background-color: rgb(244, 246, 249);
}

#home {
    .home__img_background {
        // background-image: url('https://drive.google.com/thumbnail?id=1NzAO0wWCD6ax_amLrs8l5KYsbYttd6vQ&sz=w1000');
        position: absolute;
        z-index: 1;
        background-size: cover;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.05;


    }

    .home__text_intro {
        // position: absolute;
        z-index: 2;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary-font-color;
    }


}

//service section
#services {
    background-color: rgb(244, 246, 249);
}

#services {
    .services__img_background {
        // background-image: url('https://drive.google.com/thumbnail?id=1NzAO0wWCD6ax_amLrs8l5KYsbYttd6vQ&sz=w1000');
        position: absolute;
        z-index: 1;
        background-size: cover;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.05;
    }

    .services__text_intro {
        // position: absolute;
        z-index: 2;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

    }

}

#projects {
    background-color: rgb(244, 246, 249);
}

#projects {
    .projects__img_background {
        // background-image: url('https://drive.google.com/thumbnail?id=1NzAO0wWCD6ax_amLrs8l5KYsbYttd6vQ&sz=w1000');
        position: absolute;
        z-index: 1;
        background-size: cover;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.05;
    }

    .projects__text_intro {
        // position: absolute;
        z-index: 2;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

    }
}



// .section h1 {
//     font-size: 50px;
// }

// .section:nth-child(odd) {
//     background-color: $primary-font;
// }

// .section:nth-child(even) {
//     background-color: #9576d3;
// }