//variable for scss

//variable for background color
$body-bg: rgb(244, 246, 249);
// $body-bg: rgb(16, 17, 17);

//variable for font color
$primary-font-color: rgb(0, 101, 168);
//variable for font style
$primary-font: "Nunito", sans-serif;

//   font-family: "Nunito", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;

$primary-nav: rgb(35, 182, 25);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

//nav

.navbar-main {
  // background-color: red;
  padding-left: 269px;
  padding-right: 269px;
  padding-top: 24px;
  padding-bottom: 24px;
  @media (max-width: 1230px) {
    padding-left: 235px;
  }

  @media (max-width: 1000px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

ul.navbar-nav {
  margin-right: -16px;
}

.navbar-collapse {
  font-family: $primary-font;
  font-optical-sizing: auto;
  justify-content: flex-end;
  font-size: 18px;
  font-weight: 600;
}

li.nav-item {
  margin: 0px 15px 0px 15px;
  @media (max-width: 1470px) {
    margin: 0px 2px 0px 2px;
  }
  @media (max-width: 1320px) {
    margin: 0px -5px 0px -5px;
  }
}

.logo-nav {
  font-family: $primary-font;
  color: $primary-font-color;
}

.nav-link {
  display: inline;
  color: $primary-font-color;
}

.navbar-nav .nav-link.active {
  font-family: $primary-font;
  color: $primary-font-color;
}

.email-icon-nav i {
  margin: 0px 4px 0px 4px;
  color: $primary-font-color;
  font-size: 20px;
}

.phone-icon-nav i {
  margin: 0px 4px 0px 4px;
  color: $primary-font-color;
  font-size: 20px;
}

//scrolling txt start
.scrolling-text {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 30px;
  font-weight: 600;
  font-family: $primary-font;
  color: $primary-font-color;
}

.scrolling-text span {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 35s linear infinite;
  position: fixed;
  bottom: 2px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
//scrolling text end

//section

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  //color: rgb(51, 152, 51);
}

//home section
.section {
  color: $primary-font-color;
  font-family: $primary-font;
}

#home {
  background-color: rgb(244, 246, 249);
}

#home {
  .home__img_logo {
    max-width: 50%;
    height: 29vh;
    position: absolute;
    top: 90px;
    // background-color: red;
  }

  .home__img_background {
    // background-image: url('https://drive.google.com/thumbnail?id=1NzAO0wWCD6ax_amLrs8l5KYsbYttd6vQ&sz=w1000');
    position: absolute;
    //z-index: 1;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.26;
  }

  .home__text_intro {
    // position: absolute;
    // background-color: blue;
    z-index: 2;
    // width: 100%;
    // height: 100vh;
    // font-size: 2vw;
    // display: flex;
    display: flow-root;

    align-items: center;
    justify-content: center;
    color: $primary-font-color;
  }
  p {
    margin-top: -165px;
    margin-bottom: -2rem;
    font-size: 24px;
    // font-size: 1.9vw;
    text-align: center;
    height: 14vh;
    width: 88%;
    font-family: $primary-font;
    font-weight: 600;
  }
  @media (max-width: 1000px) {
    p {
      font-size: 20px;
    }
  }

  @media screen and (max-height: 600px) {
    p {
      font-size: 16px;
      // padding-top: 100px;
    }
  }

  @media screen and (max-height: 600px) {
    #style-list {
      font-size: 14px;
    }
  }
}

.icon {
  color: #ffbf64; /* Kolor ikony */
}
.robo {
  line-height: 2;
  font-size: 23px;
  color: rgb(1, 65, 108);
}

//service section
#services {
  background-color: rgb(244, 246, 249);
}

#services {
  .services__img_background {
    // background-image: url('https://drive.google.com/thumbnail?id=1NzAO0wWCD6ax_amLrs8l5KYsbYttd6vQ&sz=w1000');
    position: absolute;
    z-index: 1;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.1;
  }

  .services__text_intro {
    // position: absolute;
    z-index: 2;
    width: 100%;
    height: 100vh;
    display: flex;
    // display: flow-root;
    align-items: center;
    justify-content: center;
  }
}

#projects {
  background-color: rgb(244, 246, 249);
}

#projects {
  .projects__img_background {
    // background-image: url('https://drive.google.com/thumbnail?id=1NzAO0wWCD6ax_amLrs8l5KYsbYttd6vQ&sz=w1000');
    position: absolute;
    z-index: 1;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.05;
  }

  .projects__text_intro {
    // position: absolute;
    z-index: 2;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// .section h1 {
//     font-size: 50px;
// }

// .section:nth-child(odd) {
//     background-color: $primary-font;
// }

// .section:nth-child(even) {
//     background-color: #9576d3;
// }
