//variable for scss

//variable for background color
$body-bg: rgb(244, 246, 249);
// $body-bg: rgb(16, 17, 17);

//variable for font color
$primary-font-color: rgb(0, 101, 168);
//variable for font style
$primary-font: "Nunito", sans-serif;

$primary-nav: rgb(35, 182, 25);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// body {
//   text-align: center;
// }

.navbar-main {
  padding-left: 269px;
  padding-right: 269px;
  padding-top: 24px;
  padding-bottom: 24px;
  @media (max-width: 1230px) {
    padding-left: 235px;
  }

  @media (max-width: 1000px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: 767px) {
    //  breakpoint for tablets/mobile
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  @media (max-width: 575px) {
    // Przykładowy breakpoint dla telefonów
    padding-left: 15px;
    padding-right: 15px;
  }
}

ul.navbar-nav {
  margin-right: -16px;
}

.navbar-collapse {
  font-family: $primary-font;
  font-optical-sizing: auto;
  justify-content: flex-end;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  @media (max-width: 1058px) {
    font-size: 15px;
  }
  // style hamburger menu after open mobile version
  @media (max-width: 767px) {
    font-size: 25px;

    &.show,
    &.in {
      background-color: rgba(192, 192, 192, 0.2); // Twoje półprzezroczyste tło
      backdrop-filter: blur(10px); // Efekt rozmycia
      // Dodaj też inne style, które mają być częścią tego tła, np.:
      padding: 15px; // Wewnętrzny padding
      margin-top: 10px; // Opcjonalny margines od góry
      border-radius: 5px; // Opcjonalne zaokrąglenie rogów
      border-top: 1px solid rgba(255, 255, 255, 0.1); // Opcjonalny separator
    }

    // --- Stylizacja linków wewnątrz (jak poprzednio) ---
    .navbar-nav {
      width: 100%;
      text-align: center;
    }

    .nav-item {
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    .nav-link {
      display: block;
      padding: 10px 15px;
      color: $primary-font-color; // Dostosuj kolor tekstu
      border-radius: 4px;

      &:hover,
      &:focus,
      &.active {
        background-color: rgba(0, 0, 0, 0.1); // Lekkie tło dla wyróżnienia
        color: #ff6600; // Kolor akcentowy
      }
    }
  }
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

li.nav-item {
  margin: 0px 15px 0px 15px;
  @media (max-width: 1470px) {
    margin: 0px 2px 0px 2px;
  }
  @media (max-width: 1320px) {
    margin: 0px 0px 0px 0px;
  }
}

.logo-nav {
  font-family: $primary-font;
  color: $primary-font-color;
  display: none;
  @media only screen and (min-width: 500px) and (max-width: 763px) {
    display: block; /* Show within the specified range */
  }
  @media (min-width: 1289px) {
    display: block;
  }
}

.nav-link {
  display: inline;
  color: $primary-font-color;
}

.navbar-nav .nav-link.active {
  font-family: $primary-font;
  color: $primary-font-color;
}

.email-icon-nav i {
  margin: 0px 4px 0px 4px;
  color: $primary-font-color;
  font-size: 16px;
}

.phone-icon-nav i {
  margin: 0px 4px 0px 4px;
  color: $primary-font-color;
  font-size: 16px;
}

//scrolling txt start
.scrolling-text {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 35px;
  font-weight: 700;
  font-family: $primary-font;
  color: $primary-font-color;

  @media (max-width: 1000px) {
    font-size: 30px;
  }
}

.scrolling-text span {
  z-index: 3;
  display: inline-block;
  padding-left: 100%;
  animation: scroll 35s linear infinite;
  position: fixed;
  bottom: 5px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
//scrolling text end

//section

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  // align-items: center;
  justify-content: center;
  //color: rgb(51, 152, 51);
}

//home section
.section {
  color: $primary-font-color;
  font-family: $primary-font;
  background-color: #d9d9d9;
}

#home {
  background-color: rgb(244, 246, 249);
  align-items: center;
}

// .thin-line {
//   width: 50%; /* Adjust the width as needed */
//   height: 1px; /* Adjust the height as needed */
//   background-color: black; /* Change the color as needed */
//   margin: 20px 0; /* Optional: Add some margin for spacing */
// }

#home {
  .home__img_logo {
    max-width: 50%;
    height: 29vh;
    position: absolute;
    top: 90px;
  }

  .home__img_background {
    // background-image: url('https://drive.google.com/thumbnail?id=1NzAO0wWCD6ax_amLrs8l5KYsbYttd6vQ&sz=w1000');
    position: absolute;
    //z-index: 1;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.36;
    // display: none;
  }

  .home__text_intro {
    z-index: 2;
    display: flow-root;

    align-items: center;
    justify-content: center;
    color: $primary-font-color;
    // border-bottom: 1px solid black;
  }
  p {
    margin-top: -150px;
    margin-bottom: -2rem;
    font-size: 24px;
    text-align: center;
    height: 14vh;
    width: 88%;
    font-family: $primary-font;
    font-weight: 600;
  }
  @media (max-width: 1000px) {
    p {
      font-size: 20px;
    }
  }

  @media screen and (max-height: 600px) {
    p {
      font-size: 16px;
    }
  }
}

//logo icon painting company
.home__img-logo {
  border-radius: 5%;
  margin: 45px 20px 0px 23px;
  // width: 9rem;
  width: 137px;
}
@media (max-width: 800px) {
  .home__img-logo {
    width: 90px;
    margin: 5px 10px 0px 10px;
  }
}
@media (max-width: 1200px) {
  .home__img-logo {
    width: 100px;
    margin: 5px 10px 0px 10px;
  }
}

.icon {
  color: #ffbf64; /* Kolor ikony */
}
.robo {
  padding-top: 100px;
  line-height: 2;
  font-size: 21px;
  color: rgb(1, 65, 108);
}
@media (max-width: 800px) {
  .robo {
    font-size: 19px;
    line-height: 1;
  }
}

//service section start
#services {
  background-color: rgb(244, 246, 249);
  align-items: center;
}

.service__photo {
  border-radius: 2%;
  width: 65%;
  height: auto;
  // margin: 45px 20px 0px 23px;
  // width: 85%;
  // height: 15rem;
  // width: 400px;
}
@media (max-width: 700px) {
  .service__photo {
    width: 55%;
    height: auto;
    margin: 5px 10px 0px 10px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 32px;
  padding-top: 70px;
  padding-bottom: 70px;
}
.grid-item {
  text-align: center;
  padding: 20px;
  border: 2px solid #ff6600;
  font-family: $primary-font;
  color: $primary-font-color;
}
.strata {
  // background-color: red;
}
@media (max-width: 1200px) {
  .strata {
    grid-column: 1 / -1;
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  .strata__image {
    border-radius: 2%;
    //width: 31%;
    width: 20rem;
    height: auto;
  }
}
@media (max-width: 767px) {
  .strata__image {
    border-radius: 2%;
    width: 55%;
    height: auto;
  }
}
.text-align-center {
  text-align: center;
}
#h2__text-service {
  font-family: $primary-font;
  // font-weight: 300;
  font-style: normal;
  font-size: 32px;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.2em;
  padding: 1em 0 0.5em;
  // color: rgb(1, 65, 108);
  color: $primary-font-color;
}
#p__text-service {
  font-family: $primary-font;
  // font-weight: 300;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: none;
  line-height: 1.6em;
  padding: 1em 0 0.5em;
  color: $primary-font-color;
}

//Project Section Start

#projects {
  background-color: rgb(244, 246, 249);
}

#projects {
  .projects__img_background {
    // background-image: url("https://drive.google.com/thumbnail?id=1NzAO0wWCD6ax_amLrs8l5KYsbYttd6vQ&sz=w1000");
    position: absolute;
    z-index: 3;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.05;
  }
}

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s linear;
}
#projects {
  background: $body-bg;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  //change width from 90% to 100%, reason - more photo size display
  margin: 0 auto;
}
.gallery a {
  height: 200px;
  width: 300px;
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 5px #000;
}
.gallery a img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.gallery a img:hover {
  transform: scale(1.3);
}

#gallery-p {
  font-family: $primary-font;
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
  letter-spacing: 4px;
  line-height: 1.3em;
  text-transform: none;
  // color: rgb(1, 65, 108);
  // margin: 20px auto;
  color: $primary-font-color;
  text-align: center;
}
#gallery-strong {
  font-family: $primary-font;
  font-weight: 50;
  font-size: 56px;
  letter-spacing: 0;
  text-transform: none;
  line-height: 1.1em;
  // color: rgb(1, 65, 108);
  text-align: center;
  color: $primary-font-color;
}
a#lg-download.lg-download.lg-icon {
  display: none;
}
//
//
//
//Contact section
#contact {
  background-color: rgb(244, 246, 249);

  .row.justify-content-center {
    // Celujemy w wiersz wewnątrz sekcji #contact
    margin-top: 6rem;
  }
}

#h2__contact {
  margin-top: 120px;
  font-size: 65px;
  font-family: $primary-font;
  color: $primary-font-color;
}

#p__contact {
  font-family: $primary-font;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  letter-spacing: 0.5px;
  text-transform: none;
  line-height: 1.6em;
  padding: 1em 0 0.5em;
  color: $primary-font-color;
}

#contact .contact-link i {
  color: #ff6600;
}
#contact .contact-link {
  text-decoration: none;
  color: $primary-font-color;
  font-size: 25px;
  font-weight: 500;
}
